<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
</head>

<body>
<h1>Produtos Cadastrados</h1>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade em Estoque</th>
            <th>Categoria</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="produto : ${produtos}">
            <td th:text="${produto.id}"></td>
            <td th:text="${produto.nome}"></td>
            <td th:text="${produto.preco}"></td>
            <td th:text="${produto.quantidadeEstoque}"></td>
            <td th:text="${produto.categoria.nome}"></td>
            <td th:text="${produto.descricao}"></td>
            <td>
                <a th:href="@{/produtos/editar/{id}(id=${produto.id})}">Editar</a>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>